*,*::before,*::after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body,div,section,main,header,footer,p,ul,h1,h2{margin:0;padding:0}h1,h2,p{font-size:1em}ul,li{list-style:none}a{text-decoration:none;color:inherit}img{width:100%;display:block}body{background-color:#EEE}

