*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, div, section, main, header, footer, p, ul, h1, h2, h5 {
  margin: 0;
  padding: 0; }

h1, h2, h5, p {
  font-size: 1em; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

img {
  width: 100%;
  display: block; }

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  @media screen and (max-width: 990px) {
    .container {
      max-width: 720px; } }
  @media screen and (max-width: 750px) {
    .container {
      max-width: 300px; } }

.linha {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center; }

.card_cardapio {
  width: calc(25% - 20px);
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.25);
  -moz-box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.25);
  box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.25);
  padding: 2rem 1rem 1rem;
  border: 1px solid;
  border-radius: 6px;
  color: #F4F4F4;
  background-color: #333;
  position: relative; }
  @media screen and (max-width: 750px) {
    .card_cardapio {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  @media screen and (max-width: 990px) {
    .card_cardapio {
      width: calc(33.33333% - 20px);
      min-height: 1px;
      margin-left: 10px;
      margin-right: 10px; } }
  @media screen and (max-width: 990px) and (max-width: 750px) {
    .card_cardapio {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  .card_cardapio .etiqueta {
    -webkit-box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.25);
    -moz-box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.25);
    box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.25);
    padding: 6px 1rem;
    border-radius: 6px;
    font-size: 0.875rem;
    background-color: #555;
    display: block;
    position: absolute;
    top: -6px;
    left: -1px; }
  .card_cardapio ul {
    padding: 1rem;
    border: 1px solid #F4F4F4;
    border-radius: 6px;
    text-align: center;
    background-color: #555; }
    .card_cardapio ul li + li {
      margin-top: 1rem; }
    .card_cardapio ul h5 {
      font-weight: normal; }
    .card_cardapio ul span {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      color: rgba(244, 244, 244, 0.6); }
      .card_cardapio ul span::after, .card_cardapio ul span::before {
        content: "";
        width: 20px;
        height: 1px;
        margin: 0 0.5rem;
        background-color: currentColor;
        display: block; }

.intro_home {
  padding: 4rem 0;
  color: #F4F4F4;
  background-color: #222; }
  .intro_home .infos {
    width: calc(33.33333% - 20px);
    min-height: 1px;
    margin-left: 10px;
    margin-right: 10px; }
    @media screen and (max-width: 750px) {
      .intro_home .infos {
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
    @media screen and (max-width: 990px) {
      .intro_home .infos {
        width: calc(41.66667% - 20px);
        min-height: 1px;
        margin-left: 10px;
        margin-right: 10px; } }
  @media screen and (max-width: 990px) and (max-width: 750px) {
    .intro_home .infos {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
    .intro_home .infos h1 {
      font-size: 1.5rem; }
    .intro_home .infos span {
      margin-top: 0.5rem;
      display: block; }
    .intro_home .infos span[data-horario] {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .intro_home .infos span[data-horario]::after {
        content: "";
        width: 8px;
        height: 8px;
        border: 1px solid #222;
        border-radius: 50%;
        margin-left: 0.5rem;
        display: block; }
    .intro_home .infos span[data-horario="aberto"]::after {
      background-color: #4D6; }
    .intro_home .infos span[data-horario="fechado"]::after {
      background-color: #D64; }
  @media screen and (max-width: 750px) {
    .intro_home .infos {
      text-align: center; }
      .intro_home .infos span[data-horario] {
        justify-content: center; }
    .intro_home .card_cardapio {
      display: none; } }

.intro {
  text-align: center;
  color: #F4F4F4;
  background-color: #222; }
  .intro p {
    max-width: 480px;
    margin: 1rem auto 0;
    font-size: 1.125rem; }

.cardapio {
  background-color: #FFF; }
  .cardapio .container {
    justify-content: flex-start; }
  .cardapio .card_cardapio {
    margin-top: 2rem; }
  @media screen and (max-width: 750px) {
    .cardapio .container {
      max-width: 100%;
      flex-wrap: nowrap;
      overflow-x: auto; }
    .cardapio .card_cardapio {
      max-width: 260px;
      flex-shrink: 0; }
    .cardapio .card_cardapio {
      margin: 2rem 20px 0; } }

.contato {
  justify-content: space-around;
  align-items: stretch; }
  .contato h1 {
    width: calc(100% - 20px);
    min-height: 1px;
    margin-left: 10px;
    margin-right: 10px; }
    @media screen and (max-width: 750px) {
      .contato h1 {
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  .contato .infos {
    width: calc(33.33333% - 20px);
    min-height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1rem; }
    @media screen and (max-width: 750px) {
      .contato .infos {
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
    .contato .infos span {
      font-size: 0.875rem;
      color: #555;
      display: block; }
    .contato .infos span + span {
      margin-top: 0.5rem; }
    .contato .infos .span_tel {
      margin-bottom: 2rem; }
  .contato .mapa {
    width: calc(33.33333% - 20px);
    min-height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.25);
    -moz-box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.25);
    box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.25);
    border-radius: 6px;
    margin-top: 1.5rem;
    background-color: #222; }
    @media screen and (max-width: 750px) {
      .contato .mapa {
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  @media screen and (max-width: 990px) {
    .contato {
      justify-content: space-between; }
      .contato .infos, .contato .mapa {
        width: calc(41.66667% - 20px);
        min-height: 1px;
        margin-left: 10px;
        margin-right: 10px; } }
    @media screen and (max-width: 990px) and (max-width: 750px) {
      .contato .infos, .contato .mapa {
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  @media screen and (max-width: 750px) {
    .contato .infos {
      order: 2;
      text-align: center; }
      .contato .infos .span_tel {
        margin-bottom: 4rem; }
    .contato .mapa {
      order: 1;
      height: 300px; } }

body {
  padding-top: 82px;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-color: #DDD; }
  @media screen and (max-width: 750px) {
    body {
      padding-top: 138px; } }

.header_site {
  -webkit-box-shadow: 0px 2px 4px rgba(34, 34, 34, 0.25);
  -moz-box-shadow: 0px 2px 4px rgba(34, 34, 34, 0.25);
  box-shadow: 0px 2px 4px rgba(34, 34, 34, 0.25);
  width: 100%;
  height: 82px;
  padding: 1rem 0;
  background-color: #FFF;
  position: fixed;
  top: 0;
  z-index: 1; }
  @media screen and (max-width: 750px) {
    .header_site {
      height: 138px; }
      .header_site .logo {
        margin: 0 auto; } }
  .header_site .logo {
    max-width: 160px;
    display: block; }
  .header_site .menu_nav {
    width: calc(25% - 20px);
    min-height: 1px;
    margin-left: 10px;
    margin-right: 10px; }
    @media screen and (max-width: 750px) {
      .header_site .menu_nav {
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
    .header_site .menu_nav ul {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      @media screen and (max-width: 750px) {
        .header_site .menu_nav ul {
          justify-content: center;
          margin-top: 1rem; } }
    .header_site .menu_nav li + li {
      margin-left: 1rem; }
    .header_site .menu_nav a {
      padding: 0.5rem;
      margin-top: 0.2rem;
      border-radius: 6px;
      font-size: 1.125rem;
      text-transform: uppercase;
      display: block;
      transition: box-shadow 0.3s ease; }
      .header_site .menu_nav a:hover {
        box-shadow: 0px 0px 0 1px; }

section {
  padding: 2rem 0; }

.titulo_sessao {
  font-size: 1.5rem;
  text-align: center; }
  .titulo_sessao::after {
    content: "";
    width: 100px;
    height: 2px;
    border-radius: 2px;
    margin: 0.25rem auto 0;
    background-color: currentColor;
    display: block; }

.descricao_principal {
  margin: 1rem 0;
  font-size: 1.125rem; }
  .descricao_principal::after, .descricao_principal::before {
    content: "";
    width: 200px;
    height: 3px;
    border-radius: 3px;
    margin: 0.5rem 0;
    background-color: currentColor;
    display: block; }
  @media screen and (max-width: 750px) {
    .descricao_principal::after, .descricao_principal::before {
      width: 100px;
      height: 1px;
      margin: 1rem auto; } }

.footer_site {
  -webkit-box-shadow: 0 -2px 4px rgba(34, 34, 34, 0.25);
  -moz-box-shadow: 0 -2px 4px rgba(34, 34, 34, 0.25);
  box-shadow: 0 -2px 4px rgba(34, 34, 34, 0.25);
  padding: 1rem 0;
  text-align: center;
  background-color: #FFF; }
  .footer_site span {
    margin-top: 0.5rem;
    color: #555;
    display: block; }
    .footer_site span a {
      color: #47F; }

