.sessao_cards {
    background-color: $branco-fundo;

    .container {
        justify-content: flex-start;
    }

    .card_cardapio, .card_prato {
        margin-top: $distancia-g;
    }

    @include responsividade() {
        .container {
            max-width: 100%;
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        .card_cardapio, .card_prato {
            max-width: 260px;
            flex-shrink: 0;
        }

        .card_cardapio, .card_prato {
            margin: $distancia-g $gutter 0;
        }
    }
}

.card {
    @include grid(3);
    @include sombra(2px 2px 4px rgba(34, 34, 34, 0.25));

    padding: $distancia-g $distancia-p $distancia-p;
    border: 1px solid;
    border-radius: $radius;
    color: $branco-conteudo;
    background-color: $cinza-escuro;
    position: relative;

    .etiqueta {
        @include sombra(2px 2px 4px rgba(34, 34, 34, 0.25));
    
        padding: 6px $distancia-p;
        border-radius: $radius;
        font-size: 0.875rem;
        background-color: $cinza-claro;
        display: block;
        position: absolute;
        top: -6px;
        left: -1px;
    }
}

.card_cardapio {
    @include responsividade(media) {
        @include grid(4);
    }

    ul {
        padding: $distancia-p;
        border: 1px solid $branco-conteudo;
        border-radius: $radius;
        text-align: center;
        background-color: $cinza-claro;

        li + li {
            margin-top: $distancia-p;
        }

        h5 {
            font-weight: normal;
        }

        span {
            margin-top: 0.5rem;
            font-size: 0.875rem;
            color: rgba(244, 244, 244, 0.6);

            &::after, &::before {
                content: "";
                width: 20px;
                height: 1px;
                margin: 0 0.5rem;
                background-color: currentColor;
                display: block;
            }
        }
    }
}

.card_prato {
    @include grid(6);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .container_etiqueta {
        width: 100%;
        position: absolute;
        top: -6px;
        left: -1px;

        .etiqueta {
            position: static;
        }
    }

    .img {
        width: 220px;
        height: 160px;
        margin-right: $distancia-g;
        border-radius: $radius;
        background-color: #EEE;
        align-self: flex-start;
        flex-shrink: 0;
    }

    .infos span{
        text-align: center;
        display: block;

        &::before {
            content: "";
            width: 100px;
            height: 2px;
            margin: 0.5rem auto;
            background-color: rgba(244, 244, 244, 0.2);
            display: block;
        }
    }

    @include responsividade(media) {
        flex-direction: column;

        .img {
            width: 100%;
            margin-right: 0;
            margin-bottom: $distancia-p;
        }

        .infos p{
            text-align: center;
        }
    }
}