.intro_home {
    padding: 4rem 0;
    color: $branco-conteudo;
    background-color: $preto;

    .infos {
        @include grid(4);

        @include responsividade(media) {
            @include grid(5);
        }

        h1{
            font-size: 1.5rem;
        }

        span {
            margin-top: 0.5rem;
            display: block;
        }

        span[data-horario] {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &::after {
                content: "";
                width: 8px;
                height: 8px;
                border: 1px solid $preto;
                border-radius: 50%;
                margin-left: 0.5rem;
                display: block;
            }
        }

        span[data-horario="aberto"] {
            &::after {
                background-color: #4D6;
            }
        }

        span[data-horario="fechado"] {
            &::after {
                background-color: #D64;
            }
        }
    }

    @include responsividade() {
        .infos {
            text-align: center;

            span[data-horario] {
                justify-content: center;
            }
        }

        .card_cardapio {
            display: none;
        }
    }
}

.intro {
    text-align: center;
    color: $branco-conteudo;
    background-color: $preto;

    p {
        max-width: 480px;
        margin: $distancia-p auto 0;
        font-size: 1.125rem;

        @include responsividade() {
            max-width: 300px;
            font-size: 1rem;
        }
    }
}