.slide-wrapper {
    overflow: hidden;
}

.slide {
    display: flex;

    &:hover {
        will-change: transform;
    }

    li {
        margin: 0 20px;
        flex-shrink: 0;
        opacity: 0.8;
        transform: scale(0.8);
        transition: 0.3s;

        &.ativo {
            opacity: 1;
            transform: scale(1);
        }
    }
}

[data-controle="slide"] {
    width: 80%;
    border-radius: $radius;
    margin: 1rem auto 0;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    li {
        height: 8px;
        color: #444;
        background-color: currentColor;
        flex: 1;
        overflow: hidden;

        &.ativo {
            color: #222;
        }
    }
}